    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Tentang Mufid Trade</h2>
              <br/>
                <p>Mufid Trade adalah jasa online terpercaya yang melayani berbagai kebutuhan pelanggan</p>
                <p>Mulai dari jual beli dollar, pulsa all operator, jasa social media, voucher game online, saldo google  play, token listrik, tagihan telkom speedy / indihome, dan lain - lain.</p>
                <p>Berbagai hal menjadi lebih mudah. Kamu bisa bayar ataupun beli dengan cepat memalui Paypal. Kami pun menerima juga pembayaran melalui bank. Bahkan pulsa, tetapi pembayaran melalui pulsa hanya kami terima untuk jasa social media yang dibawah 50 ribu</p>
                <p>Transaksi kami aman tanpa ada unsur penipuan. Bahkan sudah ada beberapa bukti konsumen dan testimoni. Kami pun terus berusaha meningkatkan pelayanan</p>
                <p>Jika berminat bisa kamu hubungi melalui <a href="#contact">Kontak</a></p>
                <br/>
              </div>
        </div>
    </section>
